.nav-button {
    padding: 8px 8px;
    width: 100px;
    border: 2px solid darkblue;
    background-color: cornflowerblue;
    color: white;
    border-radius: 2px;
    font-family: 'Rubik', 'Arial', sans-serif;
    /*outline: none;*/
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

/*.nav-button + .nav-button {*/
/*    margin-left: 8px;*/
/*}*/